.App {
  text-align: center;
}

.title {
  margin-top: 20px;
}

.App-upload-card {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.App-enhanced-image-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.App-enhanced-image-title {
  margin-top: 40px;
}
